apiVersion: v2
name: cluster-eks
home: https://github.com/giantswarm/cluster-eks
sources:
  - https://github.com/giantswarm/cluster-eks
description: A helm chart for creating Cluster API EKS clusters with the AWS infrastructure provider (CAPA).
icon: https://s.giantswarm.io/app-icons/aws/2/dark.svg
type: application
version: 1.2.0
annotations:
  application.giantswarm.io/team: "phoenix"
  application.giantswarm.io/app-type: "cluster"
restrictions:
  compatibleProviders:
    - aws
    - capa
dependencies:
  - name: cluster
    version: "4.0.2"
    repository: https://giantswarm.github.io/cluster-catalog
  - name: cluster-shared
    version: "0.7.1"
    repository: "https://giantswarm.github.io/cluster-catalog"
